# User-specific files
*.suo
*.user

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# TypeScript build results
JElliptic/*.js
JElliptic/*.js.map
JElliptic/bench/*.js
JElliptic/bench/*.js.map
JElliptic/test/*.js
JElliptic/test/*.js.map

# requirejs config files
!JElliptic/bench/config.js
!JElliptic/test/config.js

# Chutzpah test harnesses
*_Chutzpah*