# User-specific files
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# TypeScript build results
*.js
*.js.map

# requirejs config files
!JElliptic/bench/config.js
!JElliptic/test/config.js

# Chutzpah test harnesses
*_Chutzpah*